<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seed">

	<select id="findUserByName" 
		resultType="com.cokapp.quick.module.auth.entity.User">
		select u.* from `auth_user` as u
		 where (u.nickName=#{name} or u.email=#{name})
	</select>

</mapper>