<div class="app-container-detail">
    <div class="head">
        <i class="cubes icon"></i> <strong>{{container.Name}}</strong>
    </div>
    <div class="overview">
        <ul class="clearfix">
            <li class="item status">
                <div>
                    <strong ng-class="{'running':'green', 'exited':'red'}[container.State.Status]">
                        <i class="iconfont"  ng-class="{'running':'icon-right', 'exited':'icon-error'}[container.State.Status]"></i> 
                        {{'container.detail.' + container.State.Status|translate}}
                    </strong>
                    <span>容器状态</span>
                </div>
            </li>
            <li class="item cpu">
                <highchart ng-if="stats.overview.cpu_percent_chart" config="stats.overview.cpu_percent_chart"></highchart>
            </li>
            <li class="item ram">
                <highchart ng-if="stats.overview.memory_percent_chart" config="stats.overview.memory_percent_chart"></highchart>
            </li>
            <li class="item net">
                <highchart ng-if="stats.overview.networks_speed_chart" config="stats.overview.networks_speed_chart"></highchart>
            </li>
            <li class="item net-total">
                <div ng-if="stats.overview.networks_down">
                    <div>
                        <p ng-bind-html="stats.overview.networks_down | FileSize:2:1000:true"></p>
                        <span>网络吞吐 ( 接收 )</span>
                    </div>
                    <hr />
                    <div>
                        <p ng-bind-html="stats.overview.networks_up | FileSize:2:1000:true"></p>
                        <span>网络吞吐 ( 发送 )</span>
                    </div>              
                </div>
            </li>
        </ul>
    </div>
    <div class="text pages">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="attach">Attach</a>
            <a class="item" data-tab="exec">Exec</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="attach">
            <div ng-term2 url="attachUrl" start="attachStart"></div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="exec">
            <div ng-term url="execUrl" start="execStart"></div>
        </div>
    </div>
</div>
