<div class="app-container-detail">
    <div class="head">
        {{container.Name}}
    </div>
    <div class="overview">
        <ul class="clearfix">
            <li class="item status">
                <div>
                    <strong ng-class="{'running':'green', 'exited':'red'}[container.State.Status]">
                        <i class="iconfont"  ng-class="{'running':'icon-right', 'exited':'icon-error'}[container.State.Status]"></i> 
                        {{'container.detail.' + container.State.Status|translate}}
                    </strong>
                    <span>容器状态</span>
                </div>
            </li>
            <li class="item cpu">
                <highchart ng-if="stats.overview.cpu_percent_chart" config="stats.overview.cpu_percent_chart"></highchart>
            </li>
            <li class="item ram">
                <highchart ng-if="stats.overview.memory_percent_chart" config="stats.overview.memory_percent_chart"></highchart>
            </li>
            <li class="item net">
                上行：{{stats.overview.networks_up_speed | FileSize:2:1000}} 下行：{{stats.overview.networks_down_speed | FileSize:2:1000}}
                <highchart ng-if="stats.overview.networks_speed_chart" config="stats.overview.networks_speed_chart"></highchart>
            </li>
            <li class="item net-total">
                上行吞吐量：{{stats.overview.networks_up | FileSize:2:1000}} 下行吞吐量：{{stats.overview.networks_down | FileSize:2:1000}}
                <highchart ng-if="dchart" config="dchart"></highchart>
            </li>
        </ul>
    </div>
    <div class="text pages">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="attach">Attach</a>
            <a class="item" data-tab="exec">Exec</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="attach">
            <div ng-term2 url="attachUrl" start="attachStart"></div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="exec">
            <div ng-term url="execUrl" start="execStart"></div>
        </div>
    </div>
</div>
