<div class="app-containers">
    <table class="ui table">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>镜像</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="container in containers | orderBy:'Created'">
                <td>
                    <a ui-sref="containerDetail({id: container.Id})">{{container.Id | limitTo : 12}}</a>
                </td>
                <td>
                    {{container.Names[0]}}
                </td>
                <td>     
                    {{container.Image}}
                </td>
                <td>     
                    <div class="ui label" ng-class="{'running':'green', 'exited':'red'}[container.State]">{{'containers.' + container.State|translate}}</div><br>
                    <span class="small">{{'containers.' + container.Status|translate}}</span>
                </td>
                <td>
                    <div ng-switch disabled="{'changing': true}[container.State]" ng-before-change="switch($event, container)" ng-data="container" ng-model="container.State" ng-true-value="'running'" ng-false-value="'exited'"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
