<div class="container text pages images">
    <div class="toolbar">
        <button class="ui labeled icon primary button">
            <i class="refresh icon"></i> {{'images.refresh'|translate}}
        </button>
        <button class="ui labeled icon primary button" ng-click="pull()">
            <i class="cloud download icon"></i> {{'images.pull'|translate}}
        </button>
    </div>
    <table class="ui large table">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>创建时间</th>
                <th>占用空间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="image in images | orderBy:'Created'">
                <td>
                    {{image.Id}}
                </td>
                <td>
                    <div class="ui label">
                        {{image.RepoTags[0]}}
                    </div>
                </td>
                <td>
                    {{image.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}
                </td>
                <td>
                    <span>{{image.VirtualSize | FileSize}}</span>
                </td>
                <td>
                    <button  ui-sref="containerCreate({imageId: image.Id})" class="ui button primary inline mini compact">
                        启动
                    </button>
                    <button  ng-click="remove(image)" class="ui button orange inline mini compact">
                        移除
                    </button>
                </td>
            </tr>

            
            
        </tbody>
    </table>
</div>
