@app-container-detail-item-width: 160px;
@app-container-detail-chart-title-height: 50px;
@app-container-detail-font-color: #666;
@app-container-detail-font-color-second: #AAA;
.app-container-detail {
    .head {
        font-size: 2rem;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        strong {
            text-indent: 10px;
        }
    }
    .segment{
        margin-bottom: 20px;
    }
    .overview {
        background: #FFF;
        padding: 20px;
        .item {
            width: @app-container-detail-item-width;
            height: @app-container-detail-item-width;
            float: left;
            margin-right: 5px;
            &.status {
                text-align: center;
                display: table;
                div {
                    display: table-cell;
                    vertical-align: middle;
                    line-height: 1.5;
                    strong {
                        font-size: 2rem;
                        display: block;
                        &.green {
                            color: green;
                        }
                        &.red {
                            color: red;
                        }
                        i {
                            font-weight: normal;
                            font-size: 2rem;
                        }
                    }
                    span {
                        color: @app-container-detail-font-color-second;
                    }
                }
            }
            &.net {
                width: @app-container-detail-item-width*2 !important;
            }
            &.net-total {
                padding: @app-container-detail-item-width/10 10px;
                div {
                    div {
                        text-align: center;
                        height: @app-container-detail-item-width/3;
                        p {
                            font-size: 1.5rem;
                            margin-bottom: 0;
                            color: @app-container-detail-font-color;
                            line-height: 1.5;
                        }
                        span {
                            color: @app-container-detail-font-color-second;
                        }
                    }
                    hr {
                        margin: @app-container-detail-item-width/24 0;
                    }
                }
            }
        }
        .chart-title {
            color: @app-container-detail-font-color-second;
            width: 100px;
            height: @app-container-detail-chart-title-height;
            margin-top: -@app-container-detail-chart-title-height/2;
            text-align: center;
            strong {
                font-size: 1.5rem;
                color: @app-container-detail-font-color;
                sub {
                    color: @app-container-detail-font-color-second;
                }
            }
            p {
                font-size: 0.9rem;
            }
        }
    }
    .info{
        background: #fff;
    }
}
