@app-container-detail-item-width: 160px;

.app-container-detail{
	.item{
		width: @app-container-detail-item-width;
		height: @app-container-detail-item-width;
	}
	.chart-title{
		color: #AAA;
		width: 100px;
		height: 60px;
		margin-top: -30px;
		text-align: center;
		strong{
			font-size: 1.5rem;
			color: #666;
			sub{
				color: #AAA;
			}
		}
		p{
			font-size: 0.9rem;
		}
	}



}