.overview {
    .usage {
        .cpu, .ram {
            background-color: @color-bg-light;
            padding: 10px;
            .left {
                height: 100px;
                width: 100px;
                float: left;
            }
            .right{
                margin-left: 110px;
            }
        }
        .cpu {
            .left {
                background: url('/assets/images/cpu.png') no-repeat;
            }
        }
        .ram {
            .left {
                background: url('/assets/images/ram.png') no-repeat;
            }
        }
    }
    .containers {
        .container{
            background-color: #0f0;

        }
    }
}
