<div class="container text pages containers">
    <table class="ui large table">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>镜像</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="container in containers | orderBy:'Created'">
                <td>
                    <a ui-sref="container({id: container.Id})">{{container.Id | limitTo : 12}}</a>
                </td>
                <td>
                    {{container.Names[0]}}</div>
                </td>
                <td>     
                    {{container.Image}}
                </td>
                <td class="collapsing">
                    <div ng-if="container.Status.startsWith('Exited')">
                        <div class="ui toggle checkbox" title="启动">
                            <input type="checkbox" ng-click="start(container.Id)">
                            <label></label>
                        </div>
                    </div>
                    <div ng-if="!container.Status.startsWith('Exited')">
                        <div class="ui toggle checkbox" title="停止">
                            <input type="checkbox" ng-click="stop(container.Id)" checked>
                            <label></label>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
