<div class="app-containers">
    <table class="ui table">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>镜像</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="container in containers | orderBy:'Created'">
                <td>
                    <a ui-sref="container({id: container.Id})">{{container.Id | limitTo : 12}}</a>
                </td>
                <td>
                    {{container.Names[0]}}</div>
                </td>
                <td>     
                    {{container.Image}}
                </td>
                <td class="collapsing">
                    {{container.State}}
                    <div class="ui toggle checkbox" title="{{ {running: '停止容器', exited: '启动容器'}[container.State] }}">
                        <input type="checkbox" ng-click="switch($event, container)" ng-model="container.State" ng-true-value="'running'" ng-false-value="'exited'">
                        <label></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
