<div class="app-containers">
    <table class="ui table">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>镜像</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="container in containers | orderBy:'Created'">
                <td>
                    <a ui-sref="container({id: container.Id})">{{container.Id | limitTo : 12}}</a>
                </td>
                <td>
                    {{container.Names[0]}}</div>
                </td>
                <td>     
                    {{container.Image}}
                </td>
                <td>     
                    {{'containers.' + container.State|translate}}<br>
                    {{'containers.' + container.Status|translate}}
                </td>
                <td class="collapsing">
                    <div ng-switch disabled="{'changing': true}[container.State]" ng-before-change="switch($event, container)" ng-data="container" ng-model="container.State" ng-true-value="'running'" ng-false-value="'exited'"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
