<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>Shiro</description>

	<bean id="statelessRealm" class="com.cokapp.quick.core.security.StatelessRealm">
		<property name="privilegeService" ref="privilegeService" />
		<property name="userService" ref="userService" />
		<property name="cachingEnabled" value="false" />
	</bean>
	<bean id="subjectFactory" class="com.cokapp.quick.core.security.StatelessSubjectFactory" />
	<bean id="sessionManager" class="org.apache.shiro.session.mgt.DefaultSessionManager">
		<property name="sessionValidationSchedulerEnabled" value="false" />
	</bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="statelessRealm" />
			</list>
		</property>
		<property name="subjectDAO.sessionStorageEvaluator.sessionStorageEnabled"
			value="false" />
		<property name="subjectFactory" ref="subjectFactory" />
		<property name="sessionManager" ref="sessionManager" />
	</bean>
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>

	<bean id="statelessAuthcFilter" class="com.cokapp.quick.core.security.StatelessAuthcFilter">
	</bean>
	<bean id="loginAuthcFilter" class="com.cokapp.quick.core.security.LoginAuthcFilter">
		<property name="privilegeService" ref="privilegeService" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="filters">
			<map>
				<entry key="statelessAuthc" value-ref="statelessAuthcFilter" />
				<entry key="loginAuthcFilter" value-ref="loginAuthcFilter" />
			</map>
		</property>
		<property name="securityManager" ref="securityManager" />
		<property name="filterChainDefinitions">
			<value>
				/login = loginAuthcFilter
				/wx = anon
				/statics/** = anon
				
				/oauth/** = anon
				/api/user/register = anon
				/api/user/login = anon
				/user/register = anon
				
				/swagger-ui.html = anon
				/webjars/** = anon
				/swagger-resources = anon
				/v2/api-docs = anon
				/configuration/** = anon
				
				/** = statelessAuthc
			</value>
		</property>
	</bean>

</beans>